apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: {{ include "keycloak.name" . }}
